.main{
    padding: 2em;

}
.maintenance-box {
    margin-top: 0;
    border: none;
    height: 4.78em;
    padding-top: .5em ;
    background-color: rgb(48, 21, 146);
    color: white;
    text-align: center;
}
.maintenance-box img {
    width: 60px;
}
.maintenance-box a {
    cursor: pointer;
}

.nav {
    margin-bottom: 2em;
}

.collapse {
    background-color: rgb(48, 21, 146) ;
    color: white;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: justify;
    outline: none;
    font-size: 10px;
    margin-bottom: 1em;

}
.collapse:hover {
    background: gray;
    color: white;
}
.content {
    /* padding: 0 18px; */
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

/* Add padding to containers */
form {
    padding: 0 3em;
    background-color:  rgb(48, 21, 146);

}
.padding table {
    color: white;
}

li {
    line-height: 1
}
btn.disable {
    background: rgba(48, 21, 146, 0.2);
}
/* Full-width input fields */
input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit button */
.submitbtn {
    background: rgb(48, 21, 146);
    color: white;
    padding: 1em;
    margin-bottom:8px;
    border: 2px solid goldenrod;
    cursor: pointer;
    opacity: 0.9;
}

.submitbtn:hover {
    opacity: 1;
}

.updateBtn {
    background: rgb(48, 21, 146);
    color: white;
    padding: .5em 1em;
    cursor: pointer;
}
.updateBtn:disabled {
    background: rgba(48, 21, 146, 0.2);
    cursor: no-drop;
}
select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    outline: none;
    color: rgb(48, 21, 146);
    cursor: pointer;

}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    outline: none;
    cursor: pointer;
}
ol {
    list-style: none;
}
.right {
    float: right;
    color: rgb(48, 21, 146);
}
div .right {
    background: #fff;
    margin-top: 1em;
    margin-right: 1em;
    padding: .9px 1em;
    font-weight: bold;
}
td i{
 color: white;
 cursor: pointer;
 width: 2em;
}
td button {
  background: rgb(48, 21, 146);
  border: 1px solid goldenrod;
  margin-right: 1em;
}
label textarea {
    margin-top: 5em;
}
/* -----------------------------------modal section for edit request-------------------- */



/* Modal Content/Box */
.modal-content {
    background-color:rgb(48, 21, 146);
    margin: 0 auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: goldenrod;
    float: right;
    font-size: 3em;
    /* font-weight: bold; */
}

.close:hover,
.close:focus {
    color: goldenrod;
    text-decoration: none;
    cursor: pointer;
}
 



table.table {
    background: rgb(48, 21, 146);
    color: white;

}