
.base {
    background: white;
    text-align: center;
    
    .container {
        margin: 0 auto;
    }
    
    .maintenance-box {
        margin-top: 0;
        border: none;
        height: 4.78em;
        padding-top: .5em ;
        background-color: $blue;
        color: white;
        text-align: center;
    }
    .maintenance-box img {
        width: 60px;
    }
    .maintenance-box a {
        cursor: pointer;
    }
    
    .text {
        margin: 5em auto;
        text-align: center;
        width: 50%;
        line-height: 2.0;
        text-align: center;
        background: $blue;
        padding: 1em;
    }
    .text h2, .text h3 {
        color: white;
        width: 100%
    }
    
    label {
        margin-right: .3em;
    }
    .email, .psw {
        margin-left: 1em;
        color: white;
        height: 4.75em;
        text-align: justify;
    }
    h1, p {
      text-align: center;
      color:  $blue;
    }
    .allbody {
        margin-top: 3em;
    }
    
    .form {
        border: 1px solid rgba(0, 0, 0, 0.1);
        display: inline-block;
        text-align: justify;
        margin-bottom: 3em;
        border-radius: 8px;
        width: 50%;
        line-height: 3
    }
    .form label {
        color: $blue;
    }
    .form input[type=text], .form input[type=password], .form input[type=email] {
        padding: 1.5em;
    }
    /* Full-width inputs */
    input[type=text], input[type=password], input[type=email]  {
        width: 100%;
        padding: 5px;
        margin: 0;
        display: block;
        border: none;
        box-sizing: border-box;
        background-color: #eee;
        outline: none;
    }
    
    /* Set a style for all buttons */
    button {
        background-color: $blue;
        font-weight: bold;
        padding: 5px 20px;
        margin-top: 2.3em;
        border: 2px solid $goldenrod;
        cursor: pointer;
        width: inherit;
        border-radius: 4px;
        float: left;
        margin-left: 2em;
        color: white;
    }
    button a {
        color: white;
    }
    
    /* Add a hover effect for buttons */
    button:hover {
        opacity: 0.9;
    }
    .form button {
        float: right;
    }
    a {
        text-decoration: none;
        color:  $goldenrod;
    }
    
    .reg-container {
        background-color: white;
        margin-top: 3em;
        padding: 1em;
        margin-bottom: 0;
        text-align: center;
    }
    .menu {
        padding: 1em;
        min-width: 270px;
    }
    @media only screen and (max-width: 769px) {
        .text {
            margin: 1px auto !important;
            padding: 1px;
        }
    }
}