.maintenance-box {
  margin-top: 0;
  border: none;
  height: 4.78em;
  padding-top: .5em ;
  background-color: rgb(48, 21, 146);
  color: white;
  text-align: center;
}
.maintenance-box img {
  width: 60px;
}
.maintenance-box a {
  cursor: pointer;
}

#customers {
    margin: 2em auto;
    border-collapse: collapse;
    background-color: #fff;
}
.table {
  overflow-x: auto;
}


#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 1em;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(115, 116, 104);
    color: white;
}