
.container {
    margin: 0 auto;
}
.main a{
    margin-right: 1em;
}

.maintenance-box {
    border: 2px solid gray;
    height: 5em;
    padding: 2em;
    background-color: gray;
    color: white;
    text-align: center;
}
/* .main {
    margin-top: 1em;
    padding: 2em;
    background-image: url(https://png.pngtree.com/thumb_back/fw800/back_pic/03/79/18/1157c27a0379826.jpg);
    background-position: center;
    background-size: cover;
    height: 500px;
    
} */
#main {
    margin-right: 1em;
}
.main #main, .main a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    border: none;
    padding: 5px;
    background-color: goldenrod;
}
/* .user {
    float: right;
    color: white
}
.user a {
    color: white;
    text-transform: capitalize;
    font-weight: bold;
} */

.text {
    margin: 3em auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    line-height: 2.0;
    text-align: center;
    background: rgb(44, 68, 148);
    padding: 1em;


}
.text h2, .text h3 {
    color: white;
    width: 80%
}

/* li{
    line-height: 1.5
}

li select {
    float: right;
} */