.container {
    margin: 0 auto;
}
.main a{
    margin-right: 1em;
}

.maintenance-box {
    margin-top: 0;
    border: none;
    height: 4.78em;
    padding-top: .5em ;
    background-color: rgb(48, 21, 146);
    color: white;
    text-align: center;
}
.maintenance-box img {
    width: 60px;
}
.maintenance-box a {
    cursor: pointer;
}

.text {
    margin: 3em auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    line-height: 2.0;
    text-align: center;
    background: rgb(48, 21, 146);
    padding: 1em;
}
.text h2, .text h3 {
    color: white;
    width: 80%
}
label {
    margin-right: .3em;
}
.email, .psw {
    margin-left: 1em;
    color: white;
    height: 4.75em;
    text-align: justify;
}